<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>


<h1><%= @character.name %>'s Comments</h1>

<ul>
 <% @character.comments.each do |c| %>
	<% if c.content == 0 %>
	<p>There are no comments.</p>
	<% else %>
	<hr>
	<%= c.user.try(:username) %>: <%= c.content %>

	<% end %>

<% end %> 