html, body {
    height: 145%;
    background-color: #b3c6ff;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
  margin: 10px auto;
  width: 70%;
}

.clearfix {
  overflow: hidden;
}

