html,body {
    height:100%;
}



body {
  margin: 0;
  background-image: url('https://wallpaperplay.com/walls/full/5/8/6/242965.jpg'); 
  background-repeat: no-repeat;
  background-size: 100% 100%;
  }

.content {
  margin: 10px auto;
  width: 70%;
}

.clearfix {
  overflow: hidden;
}

